@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html,
body {
    background-color: #339933;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* =============header============= */

header {
    background-color: white;
}

header .container {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    height: 80px;
    margin: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #339933;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px;
    transition: all 250ms linear 0s;
}
header nav li a:hover{
    background: rgba(78, 80, 78, 0.15);
}
header .container h1 {
    height: 30px;
}

/* ============================================= */

main {
    display: flex;
    height: 80vh;
    column-gap: 15px;
    max-width: 1300px;
    margin: auto;
    border: 1px solid red;
}

h2 {
    font-size: 2rem;
    /* color: gray; */
}

h1,
.column-left h2 {
    letter-spacing: 15px;
    text-transform: uppercase;
}

.column-left {
    background-color: white;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: .8rem;
    width: 50rem;
}

/* ===========pesquisa============== */
.search {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    text-align: center;
    align-items: center;
    /* align-items: center; */

}

.search input {
    width: 20rem;
    border: none;
    padding: .5rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.search button {
    background-color: #000000;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1rem;
    width: 120px;
    cursor: pointer;
    text-align: center;
}

.search button:hover {
    background-color: #339933;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* ================imagem================ */
/* .fruit-img{
    display: flex;
    height: 300px;
    background-color: #e45b07;
    background-image: url(../img/pitaia.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: none;
    border-radius: 0.6rem; 
    
} */
#img-fruta {
    width: 100%;
    border-radius: 0.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

/*=====================coluna direita======================= */
.column-right {
    background-color: white;
    border-radius: 0.6rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    overflow-y: auto;
    padding: .8rem;
    width: 50rem;
}

.column-right p {
    font-size: 1rem;
    padding: 5px;
    text-align: justify;
    color: #45474B;
    letter-spacing: .5px;
}

.column-right a {
    font-size: 1rem;
    padding: 5px;
    text-decoration: none;
    color: #45474B;
}

.resultado-pesquisa h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* .resultado-pesquisa{

} */

.resultado-pesquisa a:hover {
    color: #339933;
}